<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EASEncoder_Test_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NAudio.Core" publicKeyToken="e279aa5131008a41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EASEncoder_Test_App.Properties.Settings>
      <setting name="openFileLocation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="originator" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="code" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dateStart" serializeAs="String">
        <value />
      </setting>
      <setting name="senderId" serializeAs="String">
        <value />
      </setting>
      <setting name="validHours" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="validMins" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="useEbs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="useNws" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="locations" serializeAs="String">
        <value />
      </setting>
      <setting name="announcementText" serializeAs="String">
        <value />
      </setting>
      <setting name="announcementVoice" serializeAs="String">
        <value />
      </setting>
      <setting name="enableSpeech" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="speechSpeed" serializeAs="String">
        <value>0</value>
      </setting>
    </EASEncoder_Test_App.Properties.Settings>
  </userSettings>
</configuration>
